.wrapper{
    display: flex;
    align-items: flex-start;
    margin-bottom: 28px;

    .avatar{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 8px;
    }

    .container{
        flex: 1;

        .info-user{
            margin-bottom: 8px;
            display: flex;
            align-items: center;

            span{
                font-size: 13px;
                font-weight: 500;
            }

            .createdAt{
                opacity: 0.6;
                margin-left: 8px;
            }
        }

        .content{
            font-size: 15px;
            font-weight: 500;
        }
    }

    .like{
        margin-top: 8px;
        font-size: 14px;
        padding: 0 4px;
        opacity: 0.7;
    }
}


.model__comment{
    width: 50%;
    position: relative;

    @media (max-width:740px) {
        width: 100%;
    }

    .comment__content{
        display: flex;
        align-items: flex-start;
        padding-bottom: 24px;
        position: relative;

        .comment__avatar__author{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 8px;
        }

        &::before{
            content: "";
            width: 100%;
            height: 1px;
            background-color: #d4d4d4;
            position: absolute;
            bottom: 0;
        }

        .comment__title{
            flex: 1;

            .comment__title__info__author{
                display: flex;
                align-items: center;
                margin-bottom: 6px;

                span{
                    font-size: 13px;
                    font-weight: 500;
                }

                .comment__title__info__author__createdAt{
                    opacity: 0.6;
                    margin-left: 8px;
                }
            }

            p{
                font-size: 15px;
                font-weight: 500;
            }
        }
    }

    .comments__user{
        padding-top: 12px;
        max-height: 100vh;
        overflow-y: overlay;
    }

    .form-comment{
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 6px 12px;
        box-shadow: 0 0 4px #999;
        z-index: 99;
        background-color: var(--white);

        .form-comment__avatar{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 4px;
        }

        input{
            flex: 1;
            font-size: 16px;
            border: none;
            outline: none;
            padding: 0 6px;
        }
    }

}